---
import { projects } from '../../data/projects.json';
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <div class="grid gap-8 lg:grid-cols-1">
        {
          projects.map((project) => (
            <div
              class="flex aspect-video flex-row gap-12 rounded-3xl bg-primary-500/10 bg-cover dark:bg-primary-400/10"
              style={{
                backgroundImage: `url('/assets/projects/${project.slug}/desktop-cover-dark.png`,
              }}
            >
              <div class="flex w-full flex-col items-center gap-4 rounded-b-3xl p-12 text-center ">
                <div>
                  <span class="mr-4 text-sm">{project.step}</span>
                  <br />
                  <h3 class="text-6xl font-bold">
                    <a href={`/proyectos/${project.slug}`}>{project.name}</a>
                  </h3>
                </div>
                <p class="text-lg text-primary-950/80 dark:text-primary-100 md:text-xl">
                  {project.description}
                </p>
                <ul class="flex flex-wrap gap-4">
                  {project.technologies?.map((tech) => (
                    <div class="shrink-0">
                      <span class="border-1 relative flex items-center justify-between gap-2 rounded-full border border-primary-500/30 bg-transparent px-3 py-1 text-sm font-medium dark:border-primary-100/30  dark:text-primary-100">
                        <span>#{tech}</span>
                      </span>
                    </div>
                  ))}
                </ul>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
